#Folder with images

C:\Users\joaobo\Documents\OilQuantification\OilDetection-4\test
C:\Users\joaobo\Documents\OilQuantification\OilDetection-4\valid
C:\Users\joaobo\Documents\OilQuantification\OilDetection-4\test